@import "bourbon/bourbon";

html, body {
  background-color: #b2a59b;
  font-family: sans-serif;
}

.body {
  display: flex;
  flex-wrap: wrap;

  .row-1 {
    background-color: #a08877;
    width: 100vw;
    height: 150px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
    margin-bottom: 10px;
    ul {
      display: flex;
      list-style: none;
      margin-right: 10px;
    }
    li {
      padding: 10px;
    }
    a {
      text-decoration: underline;
      color: #e6e6e1;
      &:hover {
        color: #afbfb1;
      }
    }
    img {
      padding-top: 40px;
      margin-left: 10px;
    }
    h1 {
      // text-align: center;
      color: #e6e6e1;
      font-size: 13px;
      font-weight: lighter;
      width: 45%;
      margin: 0;
      margin-bottom: 20px;
      padding-left: 50px;
      text-align: justify;
    }
  }
  .row-2 {
    background-color: #668b6b;
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    .search {
      display: flex;
      width: 90vw;
      justify-content: space-around;
      padding-top: 40px;
      .search-field {
        input[type=text] {
          width: 130px;
          box-sizing: border-box;
          border: 2px solid #ccc;
          border-radius: 4px;
          font-size: 16px;
          background-color: white;
          background-image: url('../img/searchicon.png');
          background-position: 5px 5px;
          background-repeat: no-repeat;
          padding: 12px 20px 12px 40px;
          -webkit-transition: width 0.4s ease-in-out;
          transition: width 0.4s ease-in-out;
          }
        input[type=text]:focus {
          width: 100%;
          }
      }
      h2 {
        color: #b2a59b;
        font-size: 16px;
        font-weight: lighter;
        }
      }
    .gallery {
      display: flex;
      width: 90vw;
      margin-top: 20px;
      margin-bottom: 20px;
      flex-wrap: wrap;
      justify-content: center;
      >.thumbnail {
        width: 150px;
        height: 150px;
        border: 1px solid black;
        margin: 5px;
        }
      }
    >img {
      margin: 20px;
      cursor: pointer;
      }
    }
  .row-3 {
    background-color: #afbfb1;
    width: 100vw;
    height: 20vh;
    display: flex;
    margin-top: 10px;
    .media {
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: 95vw;
      }
    >img {
      cursor: pointer;
      }
    }
}
